/* ===== Section spacing ===== */
.section {
  margin: 80px 0;
}

.section hr {
  margin-bottom: 40px;
}

/* ===== Section titles ===== */
.section h2 {
  margin-bottom: 20px;
}

/* ===== Project box ===== */
.project {
  margin-bottom: 40px;
  padding-left: 15px;
  border-left: 3px solid #003366;
}
